        :root {
            --bg-dark: #1e1e1e;
            --bg-panel: #252526;
            --bg-canvas: #121212;
            --text-main: #e0e0e0;
            --text-muted: #9e9e9e;
            --accent: #FFD700;
            --accent-dim: #b39700;
            --border: #333;
            --selection: #007fd4;
            --header-height: 50px;
            --toolbar-width: 80px;
            --sidebar-width: 260px;
        }

        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        html,
        body,
        #hero {
            width: 100%;
            height: 100%;
        }


        #hero {
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            background-color: var(--bg-dark);
            color: var(--text-main);
            display: flex;
            flex-direction: column;
            overflow: hidden;
        }

        /*header  */

        #header {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            border-bottom: 2px solid var(--border);
        }

        #header h1 {
            font-size: 2rem;
            color: var(--accent);
            font-weight: 700;
            letter-spacing: 1px;
        }

        #header .rightSide_action {
            display: flex;
            gap: 1rem;
        }

        #header .rightSide_action .btn {
            padding: 6px 10px;
            background-color: #333;
            border: 2px solid var(--border);
            color: white;
            font-weight: 500;
            border-radius: 0.2rem;
            transition: 0.1s all ease-in;
            cursor: pointer;
            outline: none;
        }

        #header .rightSide_action .btn:hover {
            background: #444;
        }

        #header .rightSide_action .btn:active {
            scale: 0.95;
        }

        #header .rightSide_action .btn-sidebar-toggle {
            display: none;
            background-color: transparent;
            border: 2px solid var(--border);
            padding: 5px 8px;
        }

        /* main container */

        #edit-container {
            display: flex;
            flex: 1;
            height: calc(100dvh - var(--header-height));
            position: relative;
        }

        /* left side toolbar */
        #edit-container .toolbar {
            width: var(--toolbar-width);
            background-color: var(--bg-panel);
            border: 2px solid var(--border);
            display: flex;
            flex-direction: column;
            gap: 2rem;
            align-items: center;
            padding-top: 2rem;
        }

        #edit-container .toolbar .tool-btn {
            background-color: #333;
            border: 2px solid var(--border);
            color: white;
            padding: 6px 10px;
            cursor: pointer;
            font-size: 2rem;
            border-radius: 0.2rem;
            text-align: center;


        }

        #edit-container .toolbar .tool-btn:active {
            scale: 0.95;
        }

        #edit-container .toolbar .tool-btn:hover {
            background: #444;
            border-color: var(--accent);
        }


        /* draw-area */


        #edit-container .draw-area {
            flex: 1;
            background-color: var(--bg-canvas);
            transition: background-color 0.3s;
            touch-action: none;
            position: relative;
        }

        /* #edit-container .draw-area.can-selected {
            box-shadow: inset 0 0 0 3px var(--selection);
        } */
        #edit-container .show-grid {
            background-image: radial-gradient(#333 0.5px, transparent 1px);
            background-size: 10px 10px;
        }

        #can {
            width: 100%;
            height: 100%;
            position: relative;
        }


        /* right sidebar */
        .sidebar-right {
            width: var(--sidebar-width);
            background-color: var(--bg-panel);
            border-left: 2px solid var(--border);
            display: flex;
            flex-direction: column;
            padding: 1rem;
            overflow: hidden;
            width: 200px;
            height: 100%;
            border: 1px solid #333;
            position: relative;
        }

        /* resize the right sidebar */
        .resize {
            width: 2px;
            height: 100%;
            cursor: ew-resize;
            position: absolute;
            top: 0;
            transition: all 0.1s ease-out;
        }

        .resize.right {
            left: 0;
        }

        .resize:hover {
            background-color: #b1b1b1;
        }

        .sidebar-right .panel-section {
            padding: 1rem;
            border-bottom: 2px solid var(--border);
        }

        .sidebar-right .panel-section .panel-title {
            font-size: 12px;
            font-weight: 700;
            color: var(--text-muted);
            text-transform: uppercase;
            margin-bottom: 10px;
            display: block;
        }

        .sidebar-right .panel-section .empty-state {
            font-size: 12px;
            font-weight: 700;
            color: var(--text-muted);
            text-transform: uppercase;
            margin-bottom: 10px;
            display: block;
        }

        .rectangle {
            position: absolute;
            border: 2px solid blue;
            background: rgba(0, 0, 255, 0.1);
        }
        .rectangle.selected{
            border-color: red;

        }
        .handle{
            width: 8px;
            height: 8px;
            background: white;
            border: 2px solid rgb(98, 98, 98);
            position: absolute;
            right: -5px;
            bottom: -5px;
            cursor: se-resize;
        }